<div class="row">
    <div class="col-xs-12">
        <div 
            class="form-group"
            [ngSwitch]="dynamicFormField.type"
            [formGroup]="dfFormGroup">

            <label [for]="dynamicFormField.key">{{ dynamicFormField.label }}</label>

            <app-text 
                *ngSwitchCase="'TEXT'" 
                [dfForm]="dfFormGroup"
                [dfFormField]="dynamicFormField">
            </app-text>

            <app-dropdown 
                *ngSwitchCase="'DROPDOWN'" 
                [dfForm]="dfFormGroup"
                [dfFormField]="dynamicFormField">
            </app-dropdown>

            <app-date 
                *ngSwitchCase="'DATE'" 
                [dfForm]="dfFormGroup"
                [dfFormField]="dynamicFormField">
            </app-date>

            <app-range 
                *ngSwitchCase="'RANGE'" 
                [dfForm]="dfFormGroup"
                [dfFormField]="dynamicFormField">
            </app-range>

        </div>
    </div>
</div>