<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit()" [formGroup]="dfFormGroup">

            <!-- <ul class="nav nav-pills">
                <li 
                    *ngFor="let dynamicFormSection of dynamicForm.getSections()"
                    role="presentation"
                    class="active">
                    <a href="#">{{ dynamicFormSection.key }}</a>
                </li>
            </ul> -->
            <div
                *ngFor="let dynamicFormSection of dynamicForm.getSections()">
                <app-dynamic-form-section 
                    [dynamicFormSection]="dynamicFormSection" 
                    [dfFormGroup]="dfFormGroup">
                </app-dynamic-form-section>
            </div>
            <hr>
            <button 
                type="submit"
                class="btn btn-info">
                Submit
            </button>
        </form>
    </div>
</div>